body {
    background: url("../img/balloon-background.jpg") no-repeat fixed center center;
    background-size: cover;
    font-family: 'Open Sans', 'Helvetica Neue', 'Arial', sans-serif;
}

h1 {
    color: #FFF;
    font-weight: 300;
    font-size: 5em;
    text-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
    margin-bottom: 0.5em;
}

.highlight {
    color: #3b8ced;
}

.center {
    position: absolute;
    width: 400px;
    height: 400px;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: auto;
}

.form-control {
    border-radius: 0;
    border: none;
    -webkit-box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.3);
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.3);
    font-weight: 300;
}

.btn.btn-primary {
    background-color: #3b8ced;
    border: #3b8ced;
    -webkit-transition: all 0.1s;
    -moz-transition: all 0.1s;
    transition: all 0.1s;
    -webkit-box-shadow: 0 5px 0 0 #1862BA;
    -moz-box-shadow: 0 5px 0 0 #1862BA;
    box-shadow: 0 5px 0 0 #1862BA;
}

.btn.btn-primary:focus {
    outline: none;
}

.btn.btn-primary:active {
    -webkit-box-shadow: 0 2px 0 0 #1862BA;
    -moz-box-shadow: 0 2px 0 0 #1862BA;
    box-shadow: 0 2px 0 0 #1862BA;
    margin-top: 3px;
    margin-bottom: -3px;
}

.link.bg-primary {
    background: #c7ebed;
    padding: 0.5em;
    color: #1c1817;
}


